[user]
    name = Carlos A. Michelén Ströfer
    email = c.michelen.strofer@gmail.com
[pull]
    rebase = false
[github]
    user = cmichelenstrofer
[init]
    defaultBranch = main

[core]
	editor = vim
